<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Keep the default public registry -->
    <!-- Point to your local folder relative to this config file -->
    <add key="ProjectLocalFeed" value="../osu.Framework.NativeLibs/include" />
  </packageSources>
</configuration>